@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LondrinaSolid-Regular';
    src: url('/fonts/LondrinaSolid-Regular.ttf') format('truetype');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
  
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
  
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
  
    --ring: 215 20.2% 65.1%;
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
  
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
  
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
  
    --border: 216 34% 17%;
    --input: 216 34% 17%;
  
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
  
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
  
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
  
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
  
    --ring: 216 34% 17%;
  
    --radius: 0.5rem;
  }
}
  

.bubble-name {
    position: absolute;
    margin-top: 2rem;
    max-width: 20rem;
    --tw-translate-x: -0.5rem;
    --tw-translate-y: calc(calc(100% + 3rem) * -1);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 1rem;
    border-width: 4px;
    border-color: black;
    background-color: white;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    z-index: 30;
}

.bubble-name:after, .bubble-name:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    top: auto;
}

.bubble-name:after {
    left: 23.5px;
    bottom: -16.5px;
    border-color: #fff transparent transparent #fff;
    border-style: solid;
    border-width: 12px;
}

.bubble-name:before {
    left: 20px;
    bottom: -26px;
    border-color: #000 transparent transparent #000;
    border-style: solid;
    border-width: 12px;
}

.no_typecursor .Typewriter__cursor {
    display: none;
}